body {
    font-size: 15px;
    font-style: normal;
    font-family: 'Montserrat',arial,helvetica,sans-serif;
    color: #333;
    margin: 15px;
}

.clinic-search-outer {
    margin-bottom: 5px;
}

.clinic-search-label {
    padding-top: 7px;
    right: 100px;
}

label {
    line-height: 10px;
    font-weight: bold;
    color: #464646;
    right:100px;
}

.postcode-padding {
    float: left;
    padding-top: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.postcode-search {
    float: left;
    padding-top: 3px;
}

input[type=text], input[type=password], select, textarea {
    border: 2px solid #969696;
    margin: 0;
    padding: 4px;
    font-size: 16px;
    font-family: 'Montserrat', Arial;
    color: #333;
}

.blue-button {
    margin-bottom: 5px;
    height: 40px;
    min-width: 90px;
    font-size: 16px;
    background-color: #0079c8;
    color: #fff !important;
    border: none;
    cursor: pointer;
    padding: 0 15px 0 15px;
    font-weight: bold;
    border-radius: 4px;
}

/* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
#map {
    margin-top: 50px;
    left:200px;
    height: 600px;
    width: 600px
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 800px;
    padding: 0;
}

body {
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0 !important;
}

table {
    font-size: 12px;
}

.hotel-search {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 75px;
    margin-left: 70px;
    font-size: 19px;
    width: 400px;
    z-index: 1;
}



#listing {
    position: absolute;
    left:600px;
    width: 300px;
    height: 470px;
    overflow: auto;
    top: 400px;
    cursor: pointer;
    overflow-x: hidden;
}

#findhotels {
    font-size: 14px;
}

#locationField {
    position: absolute;
    margin-top: -30px;

    flex:190px;

}

#controls {
    -webkit-box-flex: 140px;
    -ms-flex: 1 1 140px;
    flex: 1 1 140px;
}

#autocomplete {
    width: 400px;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

.hotelIcon {
    width: 24px;
    height: 24px;
}

#resultsTable {
    margin-right: 100px;
    border-collapse: collapse;
    width: 240px;
}

#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}