<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Diabetes</title>
    <link type="text/css" rel="stylesheet" href="css/fonts/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="css/iview.css">
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <style>
        .ivu-transfer-list {
            width: 45%;
        }

        .ivu-row {
            margin: 5px 0;
        }

        .calc-result-box > div {
            padding: 8px 0;
        }

        .ivu-table-header th, .ivu-table-body td {
            font-size: 24px;
            padding: 20px !important;
        }

        .ivu-table-header th {
            color: #FD651E;
            background-color: white;
            border-bottom: none;
        }

        .ivu-table-body td {
            color: black;
            border-bottom: none;
        }

        .ivu-table-cell span {
            word-break: keep-all;
            word-wrap: break-word;
            white-space: pre-wrap;
            text-align: justify;
            text-justify: inter-ideograph;
        }
    </style>
</head>
<body>
<div id="container"></div>
<template id="template1">
    <div class="main">
        <div id="scrollTopPos" class="scroll_top_pos"></div>
        <div :class="['con', {up: isUp}]"
             :style="{'transform': 'translateY(' + (150) + 'px)', 'min-height': (isUp ? screenHeight : (screenHeight - 150)) + 'px'}">
            <header id="header">
                <div class="header">
                    <a href="#"><img src="css/images/logo.png" alt="" style="width: 64px;height: 64px;"/></a>
                    <ul class="nav">
                        <li><a href="index.html">HOME</a></li>
                        <li class="cur"><a href="#">CALCULATE</a></li>
                        <li><a href="about.html">ABOUT DIABETES</a></li>
                        <li><a href="news.html">NEWS</a></li>
                        <li><a href="map.html">MAP</a></li>
                        <li><a href="recipe.html">RECIPE</a></li>
                    </ul>
                </div>
            </header>
            <div class="calc">
                <div class="heading-section">
                    <h2>Fill your information</h2>
                    <div class="form  fill_form">
                        <i-form ref="form" :model="calcData" label-position="top">
                            <form-item label="Gender : " prop="">
                                <i-select v-model="calcData.gender">
                                    <i-option value="male">male</i-option>
                                    <i-option value="female">female</i-option>
                                </i-select>
                            </form-item>
                            <form-item label="Weight : " prop="">
                                <Row>
                                    <i-col span="18">
                                        <i-input v-model="calcData.wg" placeholder="">
                                        </i-input>
                                    </i-col>
                                    <i-col span="6">
                                        <i-select v-model="calcData.opt1" @on-change="handleOpt1Change">
                                            <i-option value="pounds">pounds</i-option>
                                            <i-option value="kilograms">kilograms</i-option>
                                        </i-select>
                                    </i-col>
                                </Row>
                            </form-item>
                            <form-item label="Height : " prop="">
                                <Row>
                                    <i-col span="6">
                                        <i-select v-model="calcData.opt2" @on-change="handleOpt2Change">
                                            <i-option value="1">1'</i-option>
                                            <i-option value="2">2'</i-option>
                                            <i-option value="3">3'</i-option>
                                            <i-option value="4">4'</i-option>
                                            <i-option value="5">5'</i-option>
                                            <i-option value="6">6'</i-option>
                                            <i-option value="7">7'</i-option>
                                        </i-select>
                                    </i-col>
                                    <i-col span="6">
                                        <i-select v-model="calcData.opt3" @on-change="handleOpt3Change">
                                            <i-option value="1">1'</i-option>
                                            <i-option value="2">2'</i-option>
                                            <i-option value="3">3'</i-option>
                                            <i-option value="4">4'</i-option>
                                            <i-option value="5">5'</i-option>
                                            <i-option value="6">6'</i-option>
                                            <i-option value="7">7'</i-option>
                                            <i-option value="8">8'</i-option>
                                            <i-option value="9">9'</i-option>
                                            <i-option value="10">10'</i-option>
                                            <i-option value="11">11'</i-option>
                                        </i-select>
                                    </i-col>
                                    <i-col span="6" style="text-align: center"> or cms</i-col>
                                    <i-col span="6">
                                        <i-input v-model="calcData.ht" placeholder="">
                                        </i-input>
                                    </i-col>
                                </Row>
                            </form-item>
                            <form-item label="Age : " prop="">
                                <Row>
                                    <i-col span="6">
                                        <Input-number :value.sync="calcData.age" min="0" max="120"></Input-number>
                                    </i-col>
                                </Row>
                            </form-item>
                            <form-item label="Physical Activity Level : " prop="">
                                <radio-group v-model="calcData.level" @on-change="handleLevelChange">
                                    <radio class="radio" :label="1">No Active.</radio>
                                    <radio class="radio" :label="2">Light Active.</radio>
                                    <radio class="radio" :label="3">Moderately Active.</radio>
                                    <radio class="radio" :label="4">Very Active.</radio>
                                </radio-group>
                            </form-item>
                            <form-item>
                                <i-button type="primary" class="btn submit_btn" @click="calculate">Calculate
                                </i-button>
                            </form-item>
                        </i-form>
                    </div>
                    <div v-if="calcResultShow">
                        <div class="form calc-result-box">
                            <div>
                                Your BMI is : {{calcResult.output}}
                            </div>
                            <div>
                                This means you are : {{calcResult.comment}}
                            </div>
                            <div>
                                Your BMR is : {{calcResult.bmr}}
                            </div>
                            <div>
                                Your Daily Caloric Intake : {{calcResult.caloric}} calories per day
                            </div>
                            <div class="p-l-30">
                                Breakfast : <span class="f-w-b">{{calcResult.breakfast}}</span>
                            </div>
                            <div class="p-l-30">
                                Lunch : <span class="f-w-b">{{calcResult.lunch}}</span>
                            </div>
                            <div class="p-l-30">
                                Dinner : <span class="f-w-b">{{calcResult.dinner}}</span>
                            </div>
                        </div>
                        <div>
                            <blockquote>
                                <h4><span class="--mb--rich-text"
                                          style="background-color: #CEFFFF;color: #376BFB;font-size: 32px;padding: 4px 2px;"
                                          data-boldtype="0">
                        Depending on your calorie intake, </span></h4>
                            </blockquote>
                            <blockquote style="margin-top: 30px;">
                                <h4><span class="--mb--rich-text"
                                          style="background-color: #CEFFFF;color: #376BFB;font-size: 32px;padding: 4px 2px; "
                                          data-boldtype="0">
                        we recommend these meals! </span></h4>
                            </blockquote>
                            <Row style="text-align: center;margin-top: 30px;">
                                <i-col span="16" offset="4">
                                    <i-table :content="self" :columns="columns3" :data="data3"
                                             :no-data-text="noDataText"></i-table>
                                </i-col>
                            </Row>
                            <Row style="text-align: center;margin-top: 30px;" v-show="calcResult.output >= 25">
                                <i-col span="16" offset="4">
                                    <img src="css/images/img10.png" height="64" width="64" alt=""/>
                                    <span style="line-height: 30px;font-size: 30px;font-weight: 900;">Caution! You need to limit your calorie intake. These foods are too</span>
                                    <br>
                                    <span style="line-height: 30px;font-size: 30px;font-weight: 900;">are too high for you. Watch out for them<img
                                            src="css/images/img11.png" height="30" width="30" alt=""/>!</span>
                                </i-col>
                            </Row>
                            <Row style="text-align: center;margin-top: 30px;" v-show="calcResult.output >= 25">
                                <i-col span="8" offset="8">
                                    <ul class="danger-box">
                                        <li v-for="(item,index) in dangerMeals">
                                            {{index+1}}. {{item.title}} -- {{item.calories}} cals
                                        </li>
                                    </ul>
                                </i-col>
                            </Row>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="js/jquery.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/iview.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script>
    $(function () {
        new Vue({
            el: '#container',
            template: '#template1',
            data: {
                self: this,
                server: 'http://127.0.0.1:8080',
                video: '',
                screenHeight: 0,
                isUp: true,
                calcData: {
                    wg: '',
                    opt1: 'pounds',
                    opt2: '5',
                    opt3: '10',
                    ht: 178,
                    age: 10,
                    gender: 'male',
                    level: 2
                },
                calcResultShow: false,
                calcResult: {
                    output: '?',
                    comment: '',
                    bmr: '?',
                    caloric: 20,
                    breakfast: '0 cals',
                    lunch: '0 cals',
                    dinner: '0 cals'
                },
                formItem2: {
                    input: '',
                    select: 'shanghai',
                    gender: 'male'
                },
                formItem3: {},
                titles: ['Food list', 'Selected food list'],
                data4: [],
                targetKeys4: [],
                noDataText: 'No data',
                columns1: [
                    {
                        title: 'Food name',
                        key: 'foodName'
                    },
                    {
                        title: 'Quantity',
                        key: 'quantity'
                    },
                    {
                        title: 'Serving size',
                        key: 'servingSize'
                    },
                    {
                        title: 'Option',
                        key: 'option',
                        render(row, column, index) {
                            return `<i-button type="primary" size="small" @click="add(${index})">add</i-button>`;
                        }
                    }
                ],
                data1: [
                    {
                        foodName: '100 GRAND Bar',
                        quantity: 1,
                        servingSize: '100.0 g'
                    },
                    {
                        foodName: '100 GRAND Bar',
                        quantity: 1,
                        servingSize: '100.0 g'
                    },
                    {
                        foodName: '100 GRAND Bar',
                        quantity: 1,
                        servingSize: '100.0 g'
                    },
                    {
                        foodName: '100 GRAND Bar',
                        quantity: 1,
                        servingSize: '100.0 g'
                    }
                ],
                columns2: [
                    {
                        title: 'Food name',
                        key: 'foodName'
                    },
                    {
                        title: 'Quantity',
                        key: 'quantity'
                    },
                    {
                        title: 'Serving size',
                        key: 'servingSize'
                    },
                    {
                        title: 'Polyunsaturated fatty acids(g)',
                        key: 'acids'
                    },
                    {
                        title: 'Zinc(mg)',
                        key: 'zinc'
                    },
                    {
                        title: 'Protein(g)',
                        key: 'protein'
                    },
                    {
                        title: 'Iron(mg)',
                        key: 'iron'
                    },
                    {
                        title: 'Magnesium(mg)',
                        key: 'magnesium'
                    },
                    {
                        title: 'Option',
                        key: 'option',
                        render(row, column, index) {
                            return `<i-button type="error" size="small" @click="remove(${index})">remove</i-button>`;
                        }
                    }
                ],
                columns3: [
                    {
                        title: 'Breakfast',
                        key: 'breakfast',
                        align: 'center',
                        ellipsis: false
                    },
                    {
                        title: 'Lunch',
                        key: 'lunch',
                        align: 'center',
                        ellipsis: false
                    },
                    {
                        title: 'Dinner',
                        key: 'dinner',
                        align: 'center',
                        ellipsis: false
                    }
                ],
                data2: [],
                data3: [],
                dangerMeals: []
            },
            mounted() {
                this.init();
            },
            methods: {
                init() {
                    this.screenHeight = document.documentElement.clientHeight;
                    console.log(this.screenHeight);
                    this.video = 'video/video.mp4';
                    this.data4 = this.getMockData();
                },
                changeUp() {
                    this.isUp = !this.isUp;
                },
                handleReset() {
                    this.$refs['form'].resetFields();
                },
                getMockData() {
                    let mockData = [];
                    for (let i = 1; i <= 20; i++) {
                        mockData.push({
                            key: i.toString(),
                            label: 'Content ' + i,
                            description: 'The desc of content  ' + i
                        });
                    }
                    return mockData;
                },
                handleChange4(newTargetKeys) {
                    this.targetKeys4 = newTargetKeys;
                },
                render4(item) {
                    return item.label + ' - ' + item.description;
                },
                add(index) {

                },
                remove(index) {

                },
                handleOpt1Change(value) {
                    if (value === 'pounds') {
                        this.calcData.wg = Math.round((this.calcData.wg * 2.2) * 100) / 100;
                    } else {
                        this.calcData.wg = Math.round(this.calcData.wg / 2.2);
                    }
                },
                convertHeight(type) {
                    var ft = 0, inc = 0, ht = 0;
                    if (type === 1 || type === 2) {
                        ft = this.calcData.opt2;
                        inc = this.calcData.opt3;

                        var ss = ft * 12;
                        var tot = ss + parseInt(inc);
                        var val = tot * 2.54;
                        this.calcData.ht = Math.round(val);
                    } else {
                        ht = this.calcData.ht;
                        if (ht !== "") {
                            var cm = Math.round(ht / 2.54);
                            var div = parseInt(cm / 12);
                            var md = cm % 12;
                            this.calcData.opt2 = div;
                            this.calcData.opt3 = md;
                        }
                    }
                },
                handleOpt2Change(value) {
                    this.convertHeight(1);
                },
                handleOpt3Change(value) {
                    this.convertHeight(2);
                },
                handleLevelChange(value) {
                    alert(value);
                    alert(this.calcData.level);
                },
                calculate() {
                    var height = Number(this.calcData.ht);
                    var weight = Number(this.calcData.wg);
                    var weightunits = this.calcData.opt1;

                    height /= 100;

                    if (weightunits === "pounds") weight /= 2.20462;

                    var level = this.calcData.level;
                    var bodysize = "Normal";
                    var perkilogram1 = 25;
                    var perkilogram2 = 30;


                    //Perform calculation
                    var BMI = weight / Math.pow(height, 2);
                    //Display result of calculation
                    this.calcResult.output = Math.round(BMI * 100) / 100;
                    if (BMI < 18.5) bodysize = "Underweight";
                    if (BMI >= 18.5 && BMI <= 25) bodysize = "Normal";
                    if (BMI >= 25 && BMI <= 30) bodysize = "Overweight";
                    if (BMI > 30) bodysize = "Obese";

                    this.calcResult.comment = bodysize;

                    if (bodysize === "Underweight" && level === 1) {
                        perkilogram1 = 20;
                        perkilogram2 = 25;
                    }

                    if (bodysize === "Underweight" && level === 2) {
                        perkilogram1 = 30;
                        perkilogram2 = 35;
                    }

                    if (bodysize === "Underweight" && level === 3) {
                        perkilogram1 = 35;
                        perkilogram2 = 40;
                    }

                    if (bodysize === "Underweight" && level === 4) {
                        perkilogram1 = 40;
                        perkilogram2 = 45;
                    }

                    if (bodysize === "Normal" && level === 1) {
                        perkilogram1 = 15;
                        perkilogram2 = 20;
                    }

                    if (bodysize === "Normal" && level === 2) {
                        perkilogram1 = 25;
                        perkilogram2 = 30;
                    }

                    if (bodysize === "Normal" && level === 3) {
                        perkilogram1 = 30;
                        perkilogram2 = 35;
                    }

                    if (bodysize === "Normal" && level === 4) {
                        perkilogram1 = 35;
                        perkilogram2 = 40;
                    }
                    if (BMI >= 25 && level === 1) {
                        perkilogram1 = 15;
                        perkilogram2 = 20;
                    }
                    if (BMI >= 25 && level === 2) {
                        perkilogram1 = 20;
                        perkilogram2 = 25;
                    }

                    if (BMI >= 25 && level === 3) {
                        perkilogram1 = 25;
                        perkilogram2 = 30;
                    }

                    if (BMI >= 25 && level === 4) {
                        perkilogram1 = 30;
                        perkilogram2 = 35;
                    }

                    this.calcResult.caloric = Math.round(perkilogram2 * weight);
                    this.calcResult.breakfast = Math.round(perkilogram2 * weight * 0.2) + ' cals';
                    this.calcResult.lunch = Math.round(perkilogram2 * weight * 0.4) + ' cals';
                    this.calcResult.dinner = Math.round(perkilogram2 * weight * 0.4) + ' cals';
                    this.calcResultShow = true;

                    let age = Number(this.calcData.age);

                    if (this.calcData.gender === 'male') {
                        this.calcResult.bmr = (66.47 + (13.75 + weight) + (5.003 * height) - (6.755 * age)).toFixed(2);
                    } else {
                        this.calcResult.bmr = (655.1 + (9.563 + weight) + (1.85 * height) - (4.676 * age)).toFixed(2);
                    }

                    let breakfastCalorie = this.calcResult.breakfast.split(' ')[0] || 0;
                    let lunchCalorie = this.calcResult.lunch.split(' ')[0] || 0;
                    let dinnerCalorie = this.calcResult.dinner.split(' ')[0] || 0;
                    axios.get(this.server + `/mealschecked/getMeals?breakfastCalorie=${breakfastCalorie}
                        &lunchCalorie=${lunchCalorie}&dinnerCalorie=${dinnerCalorie}`)
                        .then((response) => {
                            if (response.status === 200) {
                                this.data3 = response.data.data;
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                        });

                    let caloric = this.calcResult.caloric || 0;
                    axios.get(this.server + `/mealschecked/getDangerMeals?calorie=${caloric}`)
                        .then((response) => {
                            console.log(response);
                            if (response.status === 200) {
                                this.dangerMeals = response.data.data;
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                }
            },
        });
    });
</script>
</body>
</html>
