<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Diabetes</title>
    <link type="text/css" rel="stylesheet" href="css/fonts/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="css/iview.css">
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/calculator.css">
    <link rel="stylesheet" href="css/down.animation.css">

    <!-- Favicon  -->
    <link rel="icon" href="images/logo2.png">
    <style>

        .fill-container {
            width: fit-content;
            margin: 5px;
            justify-content: flex-start;
            border-radius: 20px;
            border-color: #0c5460;
            background-color: #d9e2e6;
            text-align: left;
            margin-top: 50px;
            padding: 20px;
        }

        .alert-info {
            background-color: #d9edf7;
            border-color: #bce8f1;
            color: #31708f;
        }

        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .text-tangerine{
            font-size: 90%;
            color: #ee7f00;
            font-weight: bold;
            line-height: 1;
        }

        .ivu-transfer-list {
            width: 45%;
        }

        .ivu-row {
            margin: 5px 0;
        }

        .calc-result-box > div {
            padding: 8px 0;
            margin: auto;
            margin-left: 400px;
            margin-right: 400px;
            width:350px;

        }

        .ivu-table-header th, .ivu-table-body td {
            font-size: 18px;
            padding: 10px !important;
        }

        .ivu-table-header th {
            color: #FD651E;
            background-color: white;
            border-bottom: none;
        }

        .ivu-table-body td {
            color: black;
            border-bottom: none;
        }

        .ivu-table-cell span {
            word-break: keep-all;
            word-wrap: break-word;
            white-space: pre-wrap;
            text-align: justify;
            text-justify: inter-ideograph;
        }

        /*--footer start--*/
        .footer {
            padding-top: 5rem;
            background-color: #113448;
            box-sizing: border-box;
        }

        .footer .text-container {
            margin-bottom: 2.25rem;
        }

        .footer h4 {
            margin-bottom: 0.75rem;
            color: #fff;
        }

        .footer p,
        .footer ul {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
        body,
        html {
            width: 100%;
            height: 100%;
        }

        body, p1 {
            color: #787976;
            font: 400 1rem/1.5625rem "Open Sans", sans-serif;
        }   /*-- footer end--*/

        /*************************/
        /*     Copyright     */
        /*************************/
        .copyright {
            padding-top: 1rem;
            padding-bottom: 0.5rem;
            background-color: #113448;
            text-align: center;
        }

        .copyright p,
        .copyright a {
            color: #dfe5ec;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div id="container"></div>
<template id="template1">
    <div class="main">
        <header id="header">
            <div class="header">
                <a href="index.html"><img src="images/logo1.png" alt="" style="width: 7.0625rem;height: 2rem;"/></a>
                <ul class="nav">
                    <li><a href="index.html">HOME</a></li>
                    <li class="cur"><a href="#">CALORIE CONTROL</a></li>
                    <li><a href="recipe.html">RECIPE</a></li>
                    <li><a href="map.html">DISCOVERY</a></li>
                    <!--remove
                    <li><a href="about.html">ABOUT DIABETES</a></li>
                    -->
                </ul>
            </div>
        </header>
        <div class="calc">
            <div class="heading-section" style="padding-top: 50px;">
                <h2 style="color: #0b2e13">Measure and Recommendation</h2>
                <h3 style="color: #0b0b0b; font-size: 18px">We aim to provide life-enhancing services and vital support to people in later life.</h3>
                <h3 style="color: #0b0b0b; font-size: 18px"> DDA will analyze your physical condition and show you the recommended recipes for a day. </h3>

                <section id="zubaer-calorie-calculator-2" class="widget card widget_zubaer-calorie-calculator amr_widget" style="width: 450px;height: 425px; left:400px"><h3 class="widget-title card-header">calcount Calorie Calculator </h3>





                    <div class="calcalpro_wrapper calorie_calculator_general">


                        <div class="calcalpro_body_wrapper">



                            <div id="tabs-2_2" class=" calcal_tab">

                                <div class="calorie_calculator_metric_show_errors"></div>

                                <form action="" method="post" class="calorie_calculator_form_metric_units calorie_calculator_form" name="calorie_calculator_form_metric_units">

                                    <input type="hidden" name="unit" value="metric_unit">
                                    <input type="hidden" name="template" value="general">

                                    <div class="full_width calcalpro_tooltip">
                                        <span class="calcalpro_tooltiptext">Please enter your age</span>
                                        <!-- <label for="calorie_calculator_age"></label> -->
                                        <!--  <Input-number :value.sync="calcData.age" min="0" max="120"></Input-number> -->
                                        <input type="number" min="60" max="120" step="any" v-model="calcData.age" class="calorie_calculator_age" placeholder="Age (eg. 65 Years)" value="">
                                    </div>	<div class="full_width">


                                    <div class="gender_field_wrapper full_width calcalpro_tooltip">
                                        <span class="calcalpro_tooltiptext">Please enter your gender</span>
                                        <!-- dropDown change to checkbox
                                        <input type="radio" name="calorie_calculator_gender" value="male" id="calcData.gender" class="calorie_calculator_male" checked="">
                                        <label for="calcData.gender">Male</label>
                                        <label for="calcData.gender">Female</label>
                                        -->
                                        <radio-group v-model="calcData.gender" @on-change="handleLevelChange" horizontal>
                                            <radio class="radio" :label="1">Female</radio>
                                            <radio class="radio" :label="2">Male</radio>
                                        </radio-group>

                                    </div>

                                </div>

                                    <div class="full_width calcalpro_tooltip">
                                        <span class="calcalpro_tooltiptext">Please enter your height</span>
                                        <!-- <label for="calorie_calculator_height"></label> -->
                                        <i-input type="number" min="0" step="any" v-model="calcData.ht" class="calorie_calculator_height" placeholder="Height (eg. 180 Centimeters)"></i-input>
                                    </div>


                                    <div class="full_width calcalpro_tooltip">
                                        <span class="calcalpro_tooltiptext">Please enter your weight (Kg)</span>
                                        <!-- <label for="calorie_calculator_weight"></label> -->
                                        <input type="number" min="0" step="any" name="calorie_calculator_weight" v-model="calcData.wg" class="calorie_calculator_weight" placeholder="Weight (eg. 68 Kilograms)">
                                    </div>

                                    <div class="full_width calcalpro_tooltip">
                                        <span class="calcalpro_tooltiptext">Please select an activity level</span>
                                        <!-- <label for="calorie_calculator_activity"> </label>	 -->
                                        <!-- <div class="calcalpro-custom-select-wrapper">
                                             <radio-group v-model="calcData.level" @on-change="handleLevelChange" vertical>
                                                 <radio class="radio" :label="1">Sedentary</radio>
                                                 <p style="color: #ff051b; font-size:15px;">little or no exercise</p>
                                                 <radio class="radio" :label="2">Light Active</radio>
                                                 <p style="color: #ff051b; font-size:15px;">light exercise 1-3 days per week</p>
                                                 <radio class="radio" :label="3">Moderately Active.</radio>
                                                 <p style="color: #ff051b; font-size:15px;">moderate exercise 3-5 days per week</p>
                                                 <radio class="radio" :label="4">Very Active.</radio>
                                                 <p style="color: #ff051b; font-size:15px;">hard exercise 6-7 days per week</p>
                                             </radio-group>-->
                                        <i-select v-model="calcData.level" placeholder="Your Activity Level" >
                                            <i-option value="1">Sedentary - little or no exercise</i-option>
                                            <i-option value="2">Lightly Active - light exercise 1-3 days per week</i-option>
                                            <i-option value="3">Moderately Active - moderate exercise 3-5 days per week</i-option>
                                            <i-option value="4">Very Active - hard exercise 6-7 days per week</i-option>
                                        </i-select>


                                        <!--<div class="calcalpro-custom-select calorie_calculator_activity">
                                           <span class="calcalpro-custom-select-trigger">Your Activity Level</span>
                                           <div class="calcalpro-custom-options">
                                              <span class="calcalpro-custom-option undefined" data-value="1">Basal Metabolic Rate (BMR)</span>
                                                <span class="calcalpro-custom-option undefined" lable="1">Sedentary - little or no exercise</span>
                                                <span class="calcalpro-custom-option undefined"lable="2">Lightly Active - light exercise 1-3 days per week</span>
                                                <span class="calcalpro-custom-option undefined" lable="3">Moderately Active - moderate exercise 3-5 days per week</span>
                                                <span class="calcalpro-custom-option undefined" lable="4">Very Active - hard exercise 6-7 days per week</span>
                                                <span class="calcalpro-custom-option undefined" data-value="1.9">Extra Active - very hard exercise/sports or physical job</span>
                                            </div>-->

                                    </div>




                                    <input type="hidden" id="cal" name="calorie_calculator_form_nonce_field_action" ><input type="hidden" name="_wp_http_referer" value="/calorie-calculator/">
                                    <div >

                                        <!--<input type="submit" class="btn btn-block btn-default calcalpro_submit" value="Calculate" @click="calculate">-->
                                        <i-button id="cal" type="primary" class="btn submit_btn" @click="calculate">Calculate
                                        </i-button>


                                    </div>

                                </form>

                            </div>



                            <div class="calorie_calculator_result" style="display: none;"></div>


                        </div>
                    </div>


                </section>





                <div v-if="calcResultShow">
                    <div class="sidenav">
                        <a href="#result1" class="btn btn-warning my-2" style="background-color: #0f6674; border-color: #0f6674;">BMI&BMR</a>
                        <a href="#result2" class="btn btn-warning my-2" style="background-color: #0f6674; border-color: #0f6674;">Meals</a>
                    </div>
                    </i-col>
                    <i-col span="5" offset="1" id="result1">
                        <div class="form calc-result-box"  >

                            <div class="bmi-calc" style="text-align: center;">
                                <h3> Your BMI is<h4> {{calcResult.output}}</h4></h3>
                            </div>
                            <div class="bmi-calc" style="text-align: center;">
                                <h3> This means you are:<h4> {{calcResult.comment}}</h4></h3>
                            </div>
                            <div class="bmi-calc" style="text-align: center;">
                                <img style="justify-content:center; " src="images/BMI.png" height="260" width=360"/>
                            </div>

                            <div class="bmi-calc">
                                <p5> Your BMR is<p6> {{calcResult.bmr}}</p6></p5>
                                <p> Basal Metabolic Rate is the number of calories required to keep your body functioning at rest. BMR is also known as your body's metabolism; therefore, any increase to your metabolic weight, such as exercise, will increase your BMR. To get your BMR, simply input your height, gender, age and weight below.</p>
                            </div>
                            <div class="bmi-calc">
                                <p5> Your Daily Caloric Intake:</p5>
                                <p6> {{calcResult.caloric}}</p6>
                                <p5> calories per day</p5>
                            </div>
                            <div class="bmi-calc">
                                <p5> Breakfast:</p5>
                                <p6> {{calcResult.breakfast}}</p6>
                            </div>
                            <div class="bmi-calc">
                                <p5> Lunch:</p5>
                                <p6> {{calcResult.lunch}}</p6>
                            </div>
                            <div class="bmi-calc">
                                <p5> Dinner:</p5>
                                <p6> {{calcResult.dinner}}</p6>
                            </div>
                        </div>



                    </i-col>


                    <div class="bmi-calc" style="text-align: center;">

                        <!-- <img  id="pagedown" style="justify-content:center; "src="images/arrows.png" height="40"
                               width="40"/>-->
                    </div>
                    <div>
                        <!--
                    <blockquote>
                        <h4><span class="--mb--rich-text"
                                  style="background-color: #CEFFFF;color: #376BFB;font-size: 32px;padding: 4px 2px;"
                                  data-boldtype="0">
                    Depending on your calorie intake, </span></h4>
                    </blockquote>
                    <blockquote style="margin-top: 30px;">
                        <h4><span class="--mb--rich-text"
                                  style="background-color: #CEFFFF;color: #376BFB;font-size: 32px;padding: 4px 2px; "
                                  data-boldtype="0">
                    we recommend these meals! </span></h4>
                    </blockquote>-->
                        <Row style="text-align: center;margin-top: 30px;" >
                            <i-col span="16" offset="4" id="result2">
                                <blockquote>
                                    <h4><span class="--mb--rich-text"
                                              style="background-color: #CEFFFF;color: #376BFB;font-size: 32px;padding: 4px 2px;"
                                              data-boldtype="0">Depending on your calorie intake, </span></h4>
                                </blockquote>
                                <blockquote style="margin-top: 30px;">
                                    <h4><span class="--mb--rich-text"
                                              style="background-color: #CEFFFF;color: #376BFB;font-size: 32px;padding: 4px 2px; "
                                              data-boldtype="0">we recommend these meals! </span></h4>
                                </blockquote>
                                <i-table :content="self" :columns="columns3" :data="data3"
                                         :no-data-text="noDataText" ></i-table>
                            </i-col>
                        </Row>
                        <!--<Row style="text-align: center;margin-top: 30px;" v-show="calcResult.output >= 25">
                            <i-col span="16" offset="4">
                                <img src="css/images/img10.png" height="64" width="64" alt=""/>
                                <span style="line-height: 30px;font-size: 30px;font-weight: 900;">Caution! You need to limit your calorie intake. These foods are too</span>
                                <br>
                                <span style="line-height: 30px;font-size: 30px;font-weight: 900;">are too high for you. Watch out for them<img
                                        src="css/images/img11.png" height="30" width="30" alt=""/>!</span>
                            </i-col>
                        </Row>
                        <Row style="text-align: center;margin-top: 30px;" v-show="calcResult.output >= 25">
                            <i-col span="8" offset="8">
                                <ul class="danger-box">
                                    <li v-for="(item,index) in dangerMeals">
                                        {{index+1}}. {{item.title}} -- {{item.calories}} cals
                                    </li>
                                </ul>
                            </i-col>
                        </Row>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="footer">
            <div class="container" style="padding: 20px">
                <div class="row" style="display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: 15px;margin-left: 40px;">
                    <div class="col-md-6" style="position: relative;width: 100%;padding-right: 15px;padding-left: 15px;">
                        <div class="text-container about" style="width: 330px; height:148px; margin-bottom: 2.25rem;">
                            <h4>Our Story</h4>
                            <p1 class="white" style="color:#dfe5ec; text-align:left;">Diabetes Diet Advisor(DDA) exists to support the diverse needs of older Australians and specialise in supporting seniors from culturally diverse backgrounds. DDA strives every day to improve the lives and wellbeing of those we support.</p1>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->

                    <div class="col-md-2">
                        <div class="text-container">
                            <h4>Links</h4>
                            <ul class="list-unstyled li-space-lg white" >
                                <li>
                                    <a class="white"  style="color: #f9fafc" href="index.html">Home</a>
                                </li>
                                <li>
                                    <a class="white" style="color: #f9fafc" href="#">Calories Control</a>
                                </li>
                                <li>
                                    <a class="white" style="color: #f9fafc" href="recipe.html">Recipe</a>
                                </li>
                                <li>
                                    <a class="white" style="color: #f9fafc" href="map.html">Discovery</a>
                                </li>

                            </ul>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of container -->
            </div> <!-- end of footer -->
        </div><!-- end of footer -->

        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright © 2020 by DiabeteDietAdvisor by ByteConnect. All Rights Reserved</a></p>
                    </div> <!-- end of col -->
                </div> <!-- enf of row -->
            </div> <!-- end of container -->
        </div> <!-- end of copyright -->
        <!-- end of copyright -->
    </div>




</template>
<script src="js/jquery.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/iview.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="js/valid.password.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/store.js/1.3.20/store.min.js"></script>
<script>
    $(function () {
        new Vue({
            el: '#container',
            template: '#template1',
            data: {
                self: this,
                server: 'https://diabetes-20200426.azurewebsites.net',
                calcData: {
                    wg: '',
                    /*--
                    opt1: 'kilograms',
                    opt2: '5',
                    opt3: '10',--*/
                    ht: 178,
                    age: 60,
                    gender: 2,/*gender:male = label 2*/
                    level: 1
                },
                calcResultShow: false,
                calcResult: {
                    output: 'Please enter your info.',
                    comment: 'Please enter your info.',
                    bmr: 'Please enter your info.',
                    caloric: '0',
                    breakfast: '0 cals',
                    lunch: '0 cals',
                    dinner: '0 cals'
                },
                noDataText: 'No data',
                columns3: [
                    {
                        title: 'Breakfast',
                        key: 'breakfast',
                        align: 'center',
                        ellipsis: false
                    },
                    {
                        title: 'Lunch',
                        key: 'lunch',
                        align: 'center',
                        ellipsis: false
                    },
                    {
                        title: 'Dinner',
                        key: 'dinner',
                        align: 'center',
                        ellipsis: false
                    }
                ],
                data3: [],
                dangerMeals: []
            },
            mounted() {
                let data = store.get('data');
                if (data) {
                    this.calcData = store.get('data');
                }
            },
            methods: {
                handleReset() {
                    this.$refs['form'].resetFields();
                },
                getMockData() {
                    let mockData = [];
                    for (let i = 1; i <= 20; i++) {
                        mockData.push({
                            key: i.toString(),
                            label: 'Content ' + i,
                            description: 'The desc of content  ' + i
                        });
                    }
                    return mockData;
                },
                handleChange4(newTargetKeys) {
                    this.targetKeys4 = newTargetKeys;
                },
                render4(item) {
                    return item.label + ' - ' + item.description;
                },
                add(index) {

                },
                remove(index) {

                },
                handleOpt1Change(value) {
                    if (value === 'pounds') {
                        this.calcData.wg = Math.round((this.calcData.wg *2.2) * 100) / 100;
                    } else {
                        this.calcData.wg = Math.round(this.calcData.wg / 2.2);
                    }
                },
                convertHeight(type) {
                    var ft = 0, inc = 0, ht = 0;
                    if (type === 1 || type === 2) {
                        ft = this.calcData.opt2;
                        inc = this.calcData.opt3;

                        var ss = ft * 12;
                        var tot = ss + parseInt(inc);
                        var val = tot * 2.54;
                        this.calcData.ht = Math.round(val);
                    } else {
                        ht = this.calcData.ht;
                        if (ht !== "") {
                            var cm = Math.round(ht / 2.54);
                            var div = parseInt(cm / 12);
                            var md = cm % 12;
                            this.calcData.opt2 = div;
                            this.calcData.opt3 = md;
                        }
                    }
                },
                handleOpt2Change(value) {
                    this.convertHeight(1);
                },
                handleOpt3Change(value) {
                    this.convertHeight(2);
                },
                handleLevelChange(value) {
                },
                calculate() {
                    var height = Number(this.calcData.ht);
                    var weight = Number(this.calcData.wg);
                    var weightunits = this.calcData.opt1;

                    height /= 100;

                    if (weightunits === "pounds") weight /= 2.20462;

                    var level = Number(this.calcData.level);
                    var bodysize = "Normal";
                    var perkilogram1 = 25;
                    var perkilogram2 = 30;


                    //Perform calculation
                    var BMI = weight / Math.pow(height, 2);
                    //Display result of calculation
                    this.calcResult.output = Math.round(BMI * 100) / 100;
                    if (BMI < 18.5) bodysize = "Underweight";
                    if (BMI >= 18.5 && BMI <= 25) bodysize = "Normal";
                    if (BMI >= 25 && BMI <= 30) bodysize = "Overweight";
                    if (BMI > 30) bodysize = "Obese";

                    this.calcResult.comment = bodysize;

                    if (bodysize === "Underweight" && level === 1) {
                        perkilogram1 = 20;
                        perkilogram2 = 25;
                    }

                    if (bodysize === "Underweight" && level === 2) {
                        perkilogram1 = 30;
                        perkilogram2 = 35;
                    }

                    if (bodysize === "Underweight" && level === 3) {
                        perkilogram1 = 35;
                        perkilogram2 = 40;
                    }

                    if (bodysize === "Underweight" && level === 4) {
                        perkilogram1 = 40;
                        perkilogram2 = 45;
                    }

                    if (bodysize === "Normal" && level === 1) {
                        perkilogram1 = 15;
                        perkilogram2 = 20;
                    }

                    if (bodysize === "Normal" && level === 2) {
                        perkilogram1 = 25;
                        perkilogram2 = 30;
                    }

                    if (bodysize === "Normal" && level === 3) {
                        perkilogram1 = 30;
                        perkilogram2 = 35;
                    }

                    if (bodysize === "Normal" && level === 4) {
                        perkilogram1 = 35;
                        perkilogram2 = 40;
                    }
                    if (BMI >= 25 && level === 1) {
                        perkilogram1 = 15;
                        perkilogram2 = 20;
                    }
                    if (BMI >= 25 && level === 2) {
                        perkilogram1 = 20;
                        perkilogram2 = 25;
                    }

                    if (BMI >= 25 && level === 3) {
                        perkilogram1 = 25;
                        perkilogram2 = 30;
                    }

                    if (BMI >= 25 && level === 4) {
                        perkilogram1 = 30;
                        perkilogram2 = 35;
                    }

                    this.calcResult.caloric = Math.round(perkilogram2 * weight);
                    this.calcResult.breakfast = Math.round(perkilogram2 * weight * 0.2) + ' cals';
                    this.calcResult.lunch = Math.round(perkilogram2 * weight * 0.4) + ' cals';
                    this.calcResult.dinner = Math.round(perkilogram2 * weight * 0.4) + ' cals';
                    this.calcResultShow = true;

                    let age = Number(this.calcData.age);

                    if (this.calcData.gender === 1) {
                        this.calcResult.bmr = -(66.47 + (13.75 + weight) + (5.003 * height) - (6.755 * age)).toFixed(2);
                    } else {
                        this.calcResult.bmr = (655.1 + (9.563 + weight) + (1.85 * height) - (4.676 * age)).toFixed(2);
                    }
                    store.set("data", Object.assign({}, this.calcData));

                    let breakfastCalorie = this.calcResult.breakfast.split(' ')[0] || 0;
                    let lunchCalorie = this.calcResult.lunch.split(' ')[0] || 0;
                    let dinnerCalorie = this.calcResult.dinner.split(' ')[0] || 0;
                    axios.get(this.server + `/meals/getMeals?breakfastCalorie=${breakfastCalorie}&lunchCalorie=${lunchCalorie}&dinnerCalorie=${dinnerCalorie}`)
                        .then((response) => {
                            if (response.status === 200) {
                                this.data3 = response.data.data;
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                        });

                    let caloric = this.calcResult.caloric || 0;
                    axios.get(this.server + `/meals/getDangerMeals?calorie=${caloric}`)
                        .then((response) => {
                            console.log(response);
                            if (response.status === 200) {
                                this.dangerMeals = response.data.data;
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                }
            }
        });
    });
</script>

</body>
</html>
