<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Diabetes</title>
    <link type="text/css" rel="stylesheet" href="css/fonts/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="css/iview.css">
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/calculator.css">
    <link rel="stylesheet" href="css/recipe.css">
    <!-- Favicon  -->
    <link rel="icon" href="images/logo2.png">
    <style>
        .top {
            padding: 10px;
            background: rgba(0, 153, 229, .7);
            color: #fff;
            text-align: center;
            border-radius: 2px;
        }

        @keyframes fade {
            from {
                opacity: 1.0;
            }
            50% {
                opacity: 0.4;
            }
            to {
                opacity: 1.0;
            }
        }

        @-webkit-keyframes fade {
            from {
                opacity: 1.0;
            }
            50% {
                opacity: 0.4;
            }
            to {
                opacity: 1.0;
            }
        }
        .headerBox {
            width: 60px;
            height: 60px;
            animation: fade 600ms infinite;
            -webkit-animation: fade 600ms infinite;
        }
        /*--footer start--*/
        .footer {
            padding-top: 5rem;
            background-color: #113448;
            box-sizing: border-box;
        }

        .footer .text-container {
            margin-bottom: 2.25rem;
        }

        .footer .text-container.about {
            margin-right: 5rem;
        }


        .footer h4 {
            margin-bottom: 0.75rem;
            color: #fff;
        }

        .footer p,
        .footer ul {
            font-size: 0.875rem;
            line-height: 1.375rem;
            font: 400 1rem/1.5625rem "Open Sans", sans-serif;
        }
        body,
        html {
            width: 100%;
            height: 100%;
        }

        body, p1 {
            color: #787976;
        }   /*-- footer end--*/

        /*************************/
        /*     Copyright     */
        /*************************/
        .copyright {
            /***
            padding-top: 1rem;
            padding-bottom: 0.5rem;*/
            background-color: #113448;
            text-align: center;
        }

        .copyright p,
        .copyright a {
            color: #dfe5ec;
            text-decoration: none;
            font: 400 1rem/1.5625rem "Open Sans", sans-serif;
            font-size: 0.875rem

        }

    </style>
</head>
<body>
<div id="container" style="color: rgba(255,250,250,0)"></div>
<template id="template1">
    <div class="main">
        <header id="header">
            <div class="header">
                <a href="index.html"><img src="images/logo1.png" alt="" style="width: 7.0625rem;height: 2rem;"/></a>
                <ul class="nav" style="margin-bottom: 0;">
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="calc.html">CALORIE CONTROL</a></li>
                    <li class="cur"><a href="#">RECIPE</a></li>
                    <li><a href="map.html">DISCOVERY</a></li>
                    <!--remove
                    <li><a href="about.html">ABOUT DIABETES</a></li>
                    -->

                </ul>
            </div>
        </header>
        <div class="result-box" v-show="showResult">
            <div class="result-title">
                <span>{{title}}</span>
            </div>
            <div class="result-close" style="cursor: pointer;">
                <img src="css/images/close.png" alt="" @click="handleCloseResult">
            </div>
            <div class="result-body">
                <div style="position: relative;">
                    <div class="body-part1-left">
                        <span>Ingredients：</span>
                    </div>
                    <div class="body-part1-right">
                        <div class="text">
                            <p v-for="item in ingredients">{{item}}</p>
                        </div>
                    </div>
                </div>
                <div class="body-part2">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <path d="M 20 0.5 L 905 0.5" stroke="rgba(255, 152, 0, 1)" stroke-width="12"
                              stroke-dasharray="6 2"></path>
                        <path d="M 20 0.5 L 905 0.5" stroke="transparent" stroke-width="12"
                              style="pointer-events: auto;"></path>
                    </svg>
                </div>
                <div class="body-part3-head">
                    <span>Instructions:</span>
                </div>
                <div class="body-part3-content">
                    <p v-for="item in directions">
                        <span>{{item}}. </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="container" v-show="!showResult">
            <div class="rich-text">

                <p>
                        <span style="font-size:36px">
                            Would you like to have a recipe tailored for you?
                        </span>
                </p>
                <p>
                        <span>
                            Start Now!
                        </span>
                </p>
                <p>
                    <a class="headerBox"  href="#recipe-part1">
                        <img src="images/start.png" style="width:100px;height: 100px"/></a>
                </p>

            </div>
            <div class="dividing-line">
                <svg xmlns="http://www.w3.org/2000/svg">
                    <path d="M 80 0.5 L 900 0.5" stroke="rgba(17, 44, 193, 1)" stroke-width="9"
                          stroke-dasharray="6 2"></path>
                    <path d="M 80 0.5 L 900 0.5" stroke="transparent" stroke-width="10"
                          style="pointer-events: auto;"></path>
                </svg>
            </div>
            <div class="recipe-part1" id="recipe-part1">
                <img class="sn-img" src="css/images/v2_q9jv9n.png" alt="">
                <div class="recipe-part1-title">
                    <p>
                            <span>
                                Let's fill your basic information.
                            </span>
                    </p>
                </div>
                <section id="zubaer-calorie-calculator-2" class="widget card widget_zubaer-calorie-calculator amr_widget" style="width: 450px;height: 425px; left:250px"><h3 class="widget-title card-header">Calorie Calculator </h3>





                    <div class="calcalpro_wrapper calorie_calculator_general">


                        <div class="calcalpro_body_wrapper">



                            <div id="tabs-2_2" class=" calcal_tab">

                                <div class="calorie_calculator_metric_show_errors"></div>

                                <form action="" method="post" class="calorie_calculator_form_metric_units calorie_calculator_form" name="calorie_calculator_form_metric_units">

                                    <input type="hidden" name="unit" value="metric_unit">
                                    <input type="hidden" name="template" value="general">

                                    <div class="full_width calcalpro_tooltip">
                                        <span class="calcalpro_tooltiptext">Please enter your age</span>
                                        <!-- <label for="calorie_calculator_age"></label> -->
                                        <!--  <Input-number :value.sync="calcData.age" min="0" max="120"></Input-number> -->
                                        <input type="number" min="60" max="120" step="any" v-model="calcData.age" class="calorie_calculator_age" placeholder="Age (eg. 65 Years)" value="">
                                    </div>	<div class="full_width">


                                    <div class="gender_field_wrapper full_width calcalpro_tooltip">
                                        <span class="calcalpro_tooltiptext">Please enter your gender</span>
                                        <!-- dropDown change to checkbox
                                        <input type="radio" name="calorie_calculator_gender" value="male" id="calcData.gender" class="calorie_calculator_male" checked="">
                                        <label for="calcData.gender">Male</label>
                                        <label for="calcData.gender">Female</label>
                                        -->
                                        <radio-group v-model="calcData.gender" @on-change="handleLevelChange" horizontal>
                                            <radio class="radio" :label="1">Female</radio>
                                            <radio class="radio" :label="2">Male</radio>
                                        </radio-group>

                                    </div>

                                </div>

                                    <div class="full_width calcalpro_tooltip">
                                        <span class="calcalpro_tooltiptext">Please enter your height</span>
                                        <!-- <label for="calorie_calculator_height"></label> -->
                                        <i-input type="number" min="0" step="any" v-model="calcData.ht" class="calorie_calculator_height" placeholder="Height (eg. 180 Centimeters)"></i-input>
                                    </div>


                                    <div class="full_width calcalpro_tooltip">
                                        <span class="calcalpro_tooltiptext">Please enter your weight (Kg)</span>
                                        <!-- <label for="calorie_calculator_weight"></label> -->
                                        <input type="number" min="0" step="any" name="calorie_calculator_weight" v-model="calcData.wg" class="calorie_calculator_weight" placeholder="Weight (eg. 68 Kilograms)">
                                    </div>

                                    <div class="full_width calcalpro_tooltip">
                                        <span class="calcalpro_tooltiptext">Please select an activity level</span>
                                        <!-- <label for="calorie_calculator_activity"> </label>	 -->
                                        <!-- <div class="calcalpro-custom-select-wrapper">
                                             <radio-group v-model="calcData.level" @on-change="handleLevelChange" vertical>
                                                 <radio class="radio" :label="1">Sedentary</radio>
                                                 <p style="color: #ff051b; font-size:15px;">little or no exercise</p>
                                                 <radio class="radio" :label="2">Light Active</radio>
                                                 <p style="color: #ff051b; font-size:15px;">light exercise 1-3 days per week</p>
                                                 <radio class="radio" :label="3">Moderately Active.</radio>
                                                 <p style="color: #ff051b; font-size:15px;">moderate exercise 3-5 days per week</p>
                                                 <radio class="radio" :label="4">Very Active.</radio>
                                                 <p style="color: #ff051b; font-size:15px;">hard exercise 6-7 days per week</p>
                                             </radio-group>-->
                                        <i-select v-model="calcData.level" placeholder="Your Activity Level" >
                                            <i-option value="1">Sedentary - little or no exercise</i-option>
                                            <i-option value="2">Lightly Active - light exercise 1-3 days per week</i-option>
                                            <i-option value="3">Moderately Active - moderate exercise 3-5 days per week</i-option>
                                            <i-option value="4">Very Active - hard exercise 6-7 days per week</i-option>
                                        </i-select>


                                        <!--<div class="calcalpro-custom-select calorie_calculator_activity">
                                           <span class="calcalpro-custom-select-trigger">Your Activity Level</span>
                                           <div class="calcalpro-custom-options">
                                              <span class="calcalpro-custom-option undefined" data-value="1">Basal Metabolic Rate (BMR)</span>
                                                <span class="calcalpro-custom-option undefined" lable="1">Sedentary - little or no exercise</span>
                                                <span class="calcalpro-custom-option undefined"lable="2">Lightly Active - light exercise 1-3 days per week</span>
                                                <span class="calcalpro-custom-option undefined" lable="3">Moderately Active - moderate exercise 3-5 days per week</span>
                                                <span class="calcalpro-custom-option undefined" lable="4">Very Active - hard exercise 6-7 days per week</span>
                                                <span class="calcalpro-custom-option undefined" data-value="1.9">Extra Active - very hard exercise/sports or physical job</span>
                                            </div>-->

                                    </div>
                                    <div>

                                    <a href="#recipe-part2">
                                        <i-button id="cal" type="primary" class="btn submit_btn" >Next</i-button>
                                    </a>
                                    </div>
                                </form>

                            </div>



                            <div class="calorie_calculator_result" style="display: none;"></div>


                        </div>
                    </div>


                </section>
            </div>
            <div class="dividing-line">
                <svg xmlns="http://www.w3.org/2000/svg">
                    <path d="M 80 0.5 L 900 0.5" stroke="rgba(17, 44, 193, 1)" stroke-width="9"
                          stroke-dasharray="6 2"></path>
                    <path d="M 80 0.5 L 900 0.5" stroke="transparent" stroke-width="10"
                          style="pointer-events: auto;"></path>
                </svg>
            </div>
            <div class="recipe-part2" id="recipe-part2">
                <img class="sn-img" src="css/images/v2_q9jvrr.png" alt="">
                <div class="recipe-part2-title">
                    <p>
                            <span>
                                Next, what are your preferences?
                            </span>
                    </p>
                </div>
                <div class="recipe-part2-form">
                    <Row>
                        <i-col span="12" class="f-t-a-r f-p-r-50">
                            <span class="input-label">This recipe is made for</span>
                        </i-col>
                        <i-col span="8">
                            <i-select :model.sync="calcData.made" size="large" placeholder="">
                                <i-option v-for="item in madeList" :value="item.value">{{ item.label }}</i-option>
                            </i-select>
                        </i-col>
                    </Row>
                    <!--<Row class="f-m-t-48">
                        <i-col span="12" class="f-t-a-r f-p-r-50">
                            <span class="input-label">I am allergic to</span>
                        </i-col>
                        <i-col span="8">
                            <i-input :value.sync="calcData.allergic" size="large" placeholder=""></i-input>
                        </i-col>
                    </Row>-->
                    <Row class="f-m-t-48">
                        <i-col span="12" class="f-t-a-r f-p-r-50">
                            <span class="input-label">My favourite cuisine is</span>
                        </i-col>
                        <i-col span="8">
                            <i-select :model.sync="calcData.cuisine" size="large" placeholder="">
                                <i-option v-for="item in cuisineList" :value="item.value">{{ item.label }}
                                </i-option>
                            </i-select>
                        </i-col>
                    </Row>
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <path d="M 0 0.5 L 900 0.5" stroke="rgba(139, 195, 74, 1)" stroke-width="9"
                              stroke-dasharray=""></path>
                        <path d="M 0 0.5 L 900 0.5" stroke="transparent" stroke-width="10"
                              style="pointer-events: auto;"></path>
                    </svg>
                    <Row class="f-m-t-48">
                        <i-col span="24" style="text-align: left;padding-right: 50px;">
                            <span class="input-label">Choose your food preference (multi-choice):</span>
                        </i-col>
                    </Row>
                    <Row class="f-m-t-48">
                        <div class="recipe-part2-form-checkbox" v-for="item in favorites">
                            <span>{{item}}</span>
                            <Checkbox :true-value="item" :false-value="'-' + item" size="large" class="ck"
                                      @on-change="handleFavoritesChange"></Checkbox>
                        </div>
                    </Row>

                    <!-- Remove choice2
                    <svg xmlns="http://www.w3.org/2000/svg"
                         style="overflow: visible; filter: none;margin-top: 80px;height: 10px;">
                        <path d="M 0 0.5 L 900 0.5" stroke="rgba(139, 195, 74, 1)" stroke-width="9"
                              stroke-dasharray=""></path>
                        <path d="M 0 0.5 L 900 0.5" stroke="transparent" stroke-width="10"
                              style="pointer-events: auto;"></path>
                    </svg>
                    <Row class="f-m-t-48">
                        <i-col span="24" class="f-t-a-l f-p-r-50">
                            <span class="input-label">Choose your preference (multi-choice):</span>
                        </i-col>
                    </Row>

                    <Row class="f-m-t-48">
                        <div class="recipe-part2-form-checkbox" v-for="item in preferences">
                            <span>{{item}}</span>
                            <Checkbox :true-value="item" :false-value="'-' + item" size="large" class="ck"
                                      @on-change="handlePreferencesChange"></Checkbox>
                        </div>
                    </Row>-->
                </div>

            </div>

            <div class="recipe-part3">
                <div class="button-wrapper" @click="handleRecipe"><span class="text">Get a Recipe</span>
                </div>
            </div>
        </div>
        <Back-top :height="100" :bottom="100" ref="backTop" :duration="500">
            <div class="top">Back to Top</div>
        </Back-top>

        <div >
            <!-- Footer -->
            <div class="footer" style="height:60%">
                <div class="container" style="padding: 20px">
                    <div class="row" style="display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-left: 10px;">
                        <div class="col-md-6" style="position: relative;width: 100%;padding-right: 15px;padding-left: 15px;">
                            <div class="text-container about" style="width: 490px; height:148px; margin-bottom: 2.25rem;">
                                <h4>Our Story</h4>
                                <p1 class="white" style="color:#dfe5ec; text-align:left;font-size: 1rem">Diabetes Diet Advisor(DDA) helps to support the food requirements of type 2 elderly diabetic patients from various backgrounds of regional Australia. We strive every day to make human lives happier and healthier.</p1>
                            </div> <!-- end of text-container -->
                        </div> <!-- end of col -->

                        <div class="col-md-2" style="margin-left: 70px">
                            <div class="text-container">
                                <h4>Links</h4>
                                <ul class="list-unstyled li-space-lg white" >
                                    <li>
                                        <a class="white"  style="color: #f9fafc;font-size: 0.875rem;text-decoration:underline " href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <a class="white" style="color: #f9fafc;font-size: 0.875rem;text-decoration:underline" href="calc.html">Calories Control</a>
                                    </li>
                                    <li>
                                        <a class="white" style="color: #f9fafc;font-size: 0.875rem;text-decoration:underline" href="recipe.html">Recipe</a>
                                    </li>
                                    <li>
                                        <a class="white" style="color: #f9fafc;font-size: 0.875rem;text-decoration:underline" href="#">Discovery</a>
                                    </li>

                                </ul>
                            </div> <!-- end of text-container -->
                        </div> <!-- end of col -->
                    </div> <!-- end of container -->
                </div> <!-- end of footer -->
            </div><!-- end of footer -->

            <!-- Copyright -->
            <div class="copyright" style="height:60%">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="p-small">Copyright © 2020 by DiabeteDietAdvisor by ByteConnect. All Rights Reserved</a></p>
                        </div> <!-- end of col -->
                    </div> <!-- enf of row -->
                </div> <!-- end of container -->
            </div> <!-- end of copyright -->
            <!-- end of copyright -->
        </div>
</template>
<script src="js/jquery.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/iview.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="js/valid.password.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/store.js/1.3.20/store.min.js"></script>
<script>
    $(function () {
        new Vue({
            el: '#container',
            template: '#template1',
            data: {
                server: 'https://diabetes-20200426.azurewebsites.net',
                calcData: {
                    wg: '',
                    /*--
                       opt1: 'kilograms',
                       opt2: '5',
                       opt3: '10',--*/
                    ht: 178,
                    age: 10,
                    gender: 2,
                    level: 2,
                    made: 'Breakfast',
                    allergic: '',
                    cuisine: '',
                    favorites: [],
                    preferences: []
                },
                calcResult: {
                    output: '?',
                    comment: '',
                    bmr: '?',
                    caloric: 20,
                    breakfast: '0 cals',
                    lunch: '0 cals',
                    dinner: '0 cals'
                },
                madeList: [{
                    value: 'Breakfast',
                    label: 'Breakfast'
                }, {
                    value: 'Lunch',
                    label: 'Lunch'
                }, {
                    value: 'Dinner',
                    label: 'Dinner'
                }],
                cuisineList: [{
                    value: 'mediterranean',
                    label: 'Mediterranean'
                }, {
                    value: 'american',
                    label: 'American'
                }, {
                    value: 'asian',
                    label: 'Asian'
                }, {
                    value: 'indian',
                    label: 'Indian'
                }, {
                    value: 'italian',
                    label: 'Italian'
                }, {
                    value: 'mexican',
                    label: 'Mexican'
                },{
                    value: 'other',
                    label: 'Others'
                }],
                favorites: ['Vegetarian', 'Poultry', 'Fish and Seafood', 'Pork', 'Lamb','Goat', 'Beef','Other'],
                /*favorites: ['Chicken', 'Fish and Seafood', 'Duck', 'Pork', 'Turkey', 'Goat'
                , 'Lamb', 'Beef','Other'],*/
                preferences: ['Beans', 'Bread', 'Cheese', 'Corn', 'Noodles', 'Nuts','Potatoes', 'Rice', 'Salad', 'Tomatoes', 'Other'],
                showResult: false,
                ingredients: [],
                directions: [],
                title: ''
            },
            mounted() {
                let data = store.get('data');
                if (data) {
                    this.calcData = store.get('data');
                }
            },
            methods: {
                handleOpt1Change(value) {
                    if (value === 'pounds') {
                        this.calcData.wg = Math.round((this.calcData.wg * 2.2) * 100) / 100;
                    } else {
                        this.calcData.wg = Math.round(this.calcData.wg / 2.2);
                    }
                },
                convertHeight(type) {
                    var ft = 0, inc = 0, ht = 0;
                    if (type === 1 || type === 2) {
                        ft = this.calcData.opt2;
                        inc = this.calcData.opt3;

                        var ss = ft * 12;
                        var tot = ss + parseInt(inc);
                        var val = tot * 2.54;
                        this.calcData.ht = Math.round(val);
                    } else {
                        ht = this.calcData.ht;
                        if (ht !== "") {
                            var cm = Math.round(ht / 2.54);
                            var div = parseInt(cm / 12);
                            var md = cm % 12;
                            this.calcData.opt2 = div;
                            this.calcData.opt3 = md;
                        }
                    }
                },
                handleOpt2Change(value) {
                    this.convertHeight(1);
                },
                handleOpt3Change(value) {
                    this.convertHeight(2);
                },
                handleLevelChange(value) {
                },
                handleRecipe() {
                    this.calculate();
                    var params = {
                        made: this.calcData.made.toLowerCase(),
                        favorites: this.calcData.favorites,
                        //preferences: this.calcData.preferences,
                        cuisine: this.calcData.cuisine,
                        calorie: 0
                    };
                    let breakfastCalorie = parseInt(this.calcResult.breakfast.split(' ')[0]) || 0;
                    let lunchCalorie = parseInt(this.calcResult.lunch.split(' ')[0]) || 0;
                    let dinnerCalorie = parseInt(this.calcResult.dinner.split(' ')[0]) || 0;
                    if ('breakfast' === params.made) {
                        params.calorie = breakfastCalorie;
                    } else if ('lunch' === params.made) {
                        params.calorie = lunchCalorie;
                    } else if ('dinner' === params.made) {
                        params.calorie = dinnerCalorie;
                    }
                    axios.post(this.server + '/meals/getRecipeMeals', params)
                        .then((response) => {
                            console.log('response', response);
                            if (response.status === 200) {
                                let data = response.data.data || {};
                                this.title = data.title;
                                this.ingredients = (data.ingredients || '').split(',');
                                this.directions = (data.directions || '').split('.');
                                this.showResult = true;
                                this.$refs.backTop.$el.click();
                            }
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                },
                handleCloseResult() {
                    this.showResult = false;
                    this.$refs.backTop.$el.click();
                },
                /*--handlePreferencesChange(val) {
                    val = val.toLowerCase();
                    if (!val.startsWith('-')) {
                        this.calcData.preferences.push(val);
                    } else {
                        this.calcData.preferences.forEach((item, index) => {
                            if (('-' + item) === val) {
                                this.calcData.preferences.splice(index, 1);
                            }
                        });
                    }
                },--*/
                handleFavoritesChange(val) {
                    val = val.toLowerCase();
                    if (!val.startsWith('-')) {
                        this.calcData.favorites.push(val);
                    } else {
                        this.calcData.favorites.forEach((item, index) => {
                            if (('-' + item) === val) {
                                this.calcData.favorites.splice(index, 1);
                            }
                        });
                    }
                },
                calculate() {
                    var height = Number(this.calcData.ht);
                    var weight = Number(this.calcData.wg);
                    var weightunits = this.calcData.opt1;

                    height /= 100;

                    if (weightunits === "pounds") weight /= 2.20462;

                    var level = Number(this.calcData.level);
                    var bodysize = "Normal";
                    var perkilogram1 = 25;
                    var perkilogram2 = 30;


                    //Perform calculation
                    var BMI = weight / Math.pow(height, 2);
                    //Display result of calculation
                    this.calcResult.output = Math.round(BMI * 100) / 100;
                    if (BMI < 18.5) bodysize = "Underweight";
                    if (BMI >= 18.5 && BMI <= 25) bodysize = "Normal";
                    if (BMI >= 25 && BMI <= 30) bodysize = "Overweight";
                    if (BMI > 30) bodysize = "Obese";

                    this.calcResult.comment = bodysize;

                    if (bodysize === "Underweight" && level === 1) {
                        perkilogram1 = 20;
                        perkilogram2 = 25;
                    }

                    if (bodysize === "Underweight" && level === 2) {
                        perkilogram1 = 30;
                        perkilogram2 = 35;
                    }

                    if (bodysize === "Underweight" && level === 3) {
                        perkilogram1 = 35;
                        perkilogram2 = 40;
                    }

                    if (bodysize === "Underweight" && level === 4) {
                        perkilogram1 = 40;
                        perkilogram2 = 45;
                    }

                    if (bodysize === "Normal" && level === 1) {
                        perkilogram1 = 15;
                        perkilogram2 = 20;
                    }

                    if (bodysize === "Normal" && level === 2) {
                        perkilogram1 = 25;
                        perkilogram2 = 30;
                    }

                    if (bodysize === "Normal" && level === 3) {
                        perkilogram1 = 30;
                        perkilogram2 = 35;
                    }

                    if (bodysize === "Normal" && level === 4) {
                        perkilogram1 = 35;
                        perkilogram2 = 40;
                    }
                    if (BMI >= 25 && level === 1) {
                        perkilogram1 = 15;
                        perkilogram2 = 20;
                    }
                    if (BMI >= 25 && level === 2) {
                        perkilogram1 = 20;
                        perkilogram2 = 25;
                    }

                    if (BMI >= 25 && level === 3) {
                        perkilogram1 = 25;
                        perkilogram2 = 30;
                    }

                    if (BMI >= 25 && level === 4) {
                        perkilogram1 = 30;
                        perkilogram2 = 35;
                    }

                    this.calcResult.caloric = Math.round(perkilogram2 * weight);
                    this.calcResult.breakfast = Math.round(perkilogram2 * weight * 0.2) + ' cals';
                    this.calcResult.lunch = Math.round(perkilogram2 * weight * 0.4) + ' cals';
                    this.calcResult.dinner = Math.round(perkilogram2 * weight * 0.4) + ' cals';
                    this.calcResultShow = true;

                    let age = Number(this.calcData.age);

                    if (this.calcData.gender === 1) {
                        this.calcResult.bmr = (66.47 + (13.75 + weight) + (5.003 * height) - (6.755 * age)).toFixed(2);
                    } else {
                        this.calcResult.bmr = (655.1 + (9.563 + weight) + (1.85 * height) - (4.676 * age)).toFixed(2);
                    }

                    store.set("data", Object.assign({}, this.calcData));
                }
            }
        });
    });
</script>
</body>
</html>
